// TEXTO
$text-color-main:white;
$font-main: 'Josefin Sans', sans-serif;

// COLORES
$color-top: rgb(97, 186, 70);
$color-sub-top:rgb(252, 184, 41);
$color-mid:rgb(247, 129, 29);
$color-sub-mid:rgb(224, 58, 62);
$color-over-bot:rgb(150, 62, 149);
$color-bot:rgb(3, 157, 219);